numpy
matplotlib
#torch
pandas
#torchvision
pillow
transformers 
diffusers==0.25.1 
datasets
ftfy 
huggingface_hub
accelerate
einops
open_clip_torch
omegaconf
pytorch-lightning
albumentations
opencv-python
gdown
xformers==0.0.24
controlnet-aux==0.0.7
mediapipe
kornia==0.6
fastai
bitsandbytes
wandb

#apt-get install ffmpeg libsm6 libxext6  -y
#huggingface-cli login
#apt install unzip
#!git clone https://github.com/anilbhatt1/ControlNet.git
#!git clone https://github.com/anilbhatt1/interior_design_challenge_022024.git
#os.chdir('/content/interior_design_challenge_022024/terrain-diffusion/scripts')
#wandb.login()
#!gdown 1nL1U_UirQTKfjMO-Sk90kLhWBo1LYG2N  # image_captions.json
# !gdown 1Imqc0XrkBChJ4z31MpwGF8eoz--Oge_9  # interiorverse120.zip
#!gdown 1MbLcq3dLoT-_-8X2MzS3_M7eVpco8yRh # val_images_interio120.zip
#!unzip -q '/content/val_images_interio120.zip' -d '/content'
