numpy
matplotlib
torch
pandas
torchvision
pillow
transformers 
diffusers 
datasets
ftfy 
huggingface_hub
accelerate
einops
open_clip_torch
omegaconf
pytorch-lightning
albumentations
opencv-python
gdown
xformers==0.0.17
controlnet-aux==0.0.7
mediapipe
kornia==0.6
fastai
bitsandbytes
wandb

#apt-get install ffmpeg libsm6 libxext6  -y
#huggingface-cli login
#apt install unzip
#!git clone https://github.com/anilbhatt1/ControlNet.git


